$primary: #060708;
$primary-light: #0d0d0d;
$secondary: #121314;
$accent: #0ab798;
$text-input: #3b3b3b;
$text-primary: #ffffff;
// $text-secondary: #6b7280;
$text-secondary: #a9a9a9;
$border-primary: #ffffff;
$warning: #99091a;
$error: crimson;
