@use "../abstracts" as *;

button {

  font: $label;
  padding: 0.8rem;
  border: 0px;
  border-radius: 5px;

  &.full-width {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary-btn {
    font-weight: 700;
    background-color: $accent;
  }

  &.secondary-btn {
    background-color: transparent;
    color: $text-primary;
    border-color: $text-primary;
    border-width: 1px;
    border-style: solid;
  }
}
