@use "../abstracts" as *;

form.container {
  background-color: $secondary;
  padding: 20px 30px;

  &.sign-in,
  &.register,
  &.profile {
    border-radius: 10px;
  }

  .profile-bottom {
    display: flex;
    justify-content: space-between;

    div.buttons {
      align-self: end;

      button {
        font-weight: 500;
        color: $primary;
      }

      :nth-last-child(2) {
        color: $text-primary;
        background: none;
        margin-right: 10px;
      }
    }
  }
}

.under-text-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font: $fine-print;

  .text-error {
    color: $error;
  }
  .text-help {
    color: $text-secondary;

    a {
      text-decoration: none;
      color: $accent;
    }
  }
}

div.middle-container {
  position: relative;
  margin: auto;
  top: 100px;
}

div.sign-in,
div.register {
  max-width: 400px;
}

div.profile {
  max-width: 600px;
}
