@use "../abstracts" as *;

form.container {
  background-color: $secondary;
  padding: 20px 40px;

  &.sign-in,
  &.register,
  &.profile {
    border-radius: 10px;
  }

  &.link-edit {
    background: $primary-light;
    border-radius: 0 0 15px 15px;
  }

  

  &.appearance-profile {
    width: 90%;
    display: flex;

    .profile-pic {
      width: 80%;
      padding-bottom: 80%;
      aspect-ratio: 1/1 !important;
      
      .upload-hover {
        display: none;
      }
      
      &:hover {
        .upload-hover {
          display: block;
        }
    }
    
    }
    
    .left {
      width: 40%;
      padding-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .right {
      width: 60%;
    }

  }

  &.appearance-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    &.end {
      border-radius: 0 0 15px 15px;
      border-bottom: 1px solid $border-secondary;
      margin-bottom: 20px;
    }

    &.start {
      border-radius: 15px 15px 0 0;
      border-top: 1px solid $border-secondary;
    }
    
    .options {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
      gap: 15px;
    }

    .thumbnail {
      min-width: 128px;
      min-height: 200px;
      aspect-ratio: 128/200;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .option {
      font: $button;
      color: $text-secondary;
      text-align: center;
      width: 100%;


      svg {
        transition: transform ease-in-out .3s;
        width: 100%;
        height: 100%;
      }
    }

    .selected {
      color: $text-primary;

      .thumbnail {
        outline: 3px solid white;
        outline-offset: -3px;
        border-radius: 15px;

      }

      svg {
        // transform: scale(.90);
      }
    }
  }

  .profile-bottom {
    display: flex;
    justify-content: space-between;

    div.buttons {
      align-self: end;

      button {
        font-weight: 500;
        color: $primary;
      }

      :nth-last-child(2) {
        color: $text-primary;
        background: none;
        margin-right: 10px;
      }
    }
  }
}

.under-text-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font: $fine-print;

  .text-error {
    color: $error;
  }
  .text-help {
    color: $text-secondary;

    a {
      text-decoration: none;
      color: $accent;
    }
  }
}

div.middle-container {
  position: relative;
  margin: auto;
  padding-top: 75px;

  &.appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form {
      border: solid $border-secondary;
      border-width: 0 1px 0 1px;
    }
  }

  .section-title {
    background-color: $secondary;
    width: 90%;
    border: solid 1px $border-secondary;
    
    &.start {
      border-radius: 15px 15px 0 0;
    }

    h2 {
      margin: 10px;
      margin-left: 15px;
    }
  }
}

div.sign-in,
div.register {
  max-width: 400px;
}

div.profile {
  max-width: 600px;
  margin-bottom: 20px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $text-primary;
  }
}

div.appearance {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

div.color-picker {
  position: absolute;
  margin: 30px;
}

div.picker-container {
  width: 50%;
  display: flex;
  gap: 10px;
  margin: 20px 0;

  .color-preview {
    width: 60px;
    height: 60px;
    border-radius: 12px;
  }

  .color-name {
    font: $header-secondary;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .hex-code {
    font: $body-secondary;
    margin: 0;
    width: min-content;
    padding: 5px 10px;
    background-color: $text-input;
    border-radius: 10px;
  }
}

div.profile-pic {
  width: 160px;
  height: 160px;
  margin: auto;
  margin-bottom: 10px;
  cursor: pointer;
}