@use "../abstracts" as *;

div.profile-pic {
  border-radius: 50%;
  background-color: $text-primary;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
