@use "../abstracts" as *;

label {
  margin-left: 5px;
  font: $label;
  color: $text-primary;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 7px 0;

  input,
  textarea {
    font: $body;
    background-color: $text-input;
    color: $text-primary;
    padding: 0.8rem;
    border: 0 solid $border-primary;
    border-radius: 5px;
    margin-top: 5px;

    &::placeholder {
      color: $text-secondary;
    }

    &.error {
      outline: 1px solid $error;
    }

    &:focus {
      outline: 1px solid;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  //   input[type="file"] {
  //   }
}

.select-container {
  display: flex;
  flex-direction: column;

  select {
    font: $body;
    padding: 0.5rem;
    margin-top: 5px;
  }
}
