@use "../abstracts" as *;

div.link-page {
  margin: auto;
  margin-top: 0;
  width: 580px;

  div.link-drag-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  
    div.draggable {
      width: 30px;
      background-color: $secondary;
      display: flex;
      align-items: center;
      border-radius: 15px 0 0 15px;
      svg {
        fill: $text-secondary;
      }
      .seperator {
        height: 80%;
        width: 1px;
        border-right: 1px solid $text-secondary;
        opacity: 0.25;
      }
    }
  
    div.link-container {
      background-color: $secondary;
      width: 550px;
      padding: 20px;
      border-radius: 0 15px 15px 0;
  
      div.top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        div.left {
          display: flex;
          align-items: center;
          svg {
            margin-left: 10px;
            width: 24px;
            fill: $text-secondary;
            cursor: pointer;
          }
        }

        div.right {
          display: flex;

          button.visibility-btn {
            width: 60px;
            height: 38px;
            border-radius: 25px;
            padding: 0;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: background-color 0.4s;

            div.switch {
              width: 42px;
              height: 42px;
              margin-top: -2px;
              border-radius: 50%;
              background-color: $text-primary;
              transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
              
            }

            &.ON {
              background-color: $accent;
              .switch {
                transform: translateX(50%);
              }
            }
            
            &.OFF {
              background-color: $text-secondary;
            }
          }
        }
        
      }

      div.bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.left {
          width: 85%;

          div.banner {
            border-radius: 20px;
            height: 100px;
            background-color: $text-input !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center center !important;
          }
        }
        div.right {
          display: flex;
          align-items: flex-end;

          svg {
            margin: 5px;
            width: 32px;
            stroke: $text-secondary;
            cursor: pointer;
          }
        }
      }
  
      h1 {
        font-weight: 600;
        text-align: start;
        margin: 0;
      }
      // margin: auto;
    }
  
    &[isEditing="true"] {
      padding-bottom: 0;
  
      div.draggable {
        border-bottom-left-radius: 0;
      }
      div.link-container {
        border-bottom-right-radius: 0;
        div.bottom {
          display: none;
        }
      }
    }
  }

  button.new-link {
    background-color: transparent;
    color: $text-primary;
    border: solid 1px $text-primary;
    border-radius: 15px;
    font: $button;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }

    svg {
      width: 20px;
      margin-right: 5px;
    }
  }
  
  div.link-edit-container {
    display: flex;
    justify-content: center;
  
    form {
      width: 580px;

      textarea {
        min-height: 95px;
      }

      div.thumbnails-container {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        gap: 15px;

        div.thumbnail {
          width: 87px;
        }

        div.banner {
          width: 415px;
        }

        .thumbnail, .banner {
          cursor: pointer;
          height: 87px;
          border-radius: 10px;
          background-color: $text-input !important;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          transition: opacity .3s;

          &:hover {
            opacity: .7;
          }
        }
      }

      div.bottom {
        display: flex;
        margin-top: 15px;

        button {
          color: $text-primary;
          font: $button;
          font-weight: bold;
        }
        
        div.left {
          width: 35%;
          
          button {
            background-color: $warning;
            padding: 7px 15px;
          }
        }

        div.right {
          width: 65%;
          
          button{
            float: right;
          }

          button.save {
            background-color: $accent;
            padding: 7px 40px;
            margin-left: 8px;

            &:disabled {
              background-color: $text-input;
              color: $secondary;
              cursor: not-allowed;
            }
          }

          button.discard {
            box-sizing: border-box;
            padding: 7px 20px;
            background-color: transparent;
            outline: solid 1px $border-primary;
            outline-offset: -1px;
          }
        }
      }
    }
  }
  
  div.new-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 15px;
    border: 2px dashed $text-secondary ;
    cursor: pointer;
  
    svg {
      fill: $text-secondary;
      width: 50px;
    }
  }
}