@use "../abstracts" as *;

div.link-drag-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  div.draggable {
    width: 30px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    border-radius: 15px 0 0 15px;
    svg {
      fill: $text-secondary;
    }
    .seperator {
      height: 80%;
      width: 1px;
      border-right: 1px solid $text-secondary;
      opacity: 0.25;
    }
  }

  div.link-container {
    padding-left: 10px;
    background-color: $secondary;
    width: 550px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 0 15px 15px 0;

    div.top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div.left {
        display: flex;
        align-items: center;
        svg {
          margin-left: 10px;
          width: 24px;
          fill: $text-secondary;
          cursor: pointer;
        }
      }
    }

    div.bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div.left {
        width: 85%;
        div.banner {
          border-radius: 20px;
          height: 125px;
          background-color: $primary;
        }
      }
      div.right {
        display: flex;
        align-items: flex-end;
        svg {
          margin: 5px;
          width: 32px;
          stroke: $text-secondary;
          cursor: pointer;
        }
      }
    }

    h1 {
      font-weight: 600;
      text-align: start;
      margin: 0;
    }
    // margin: auto;
  }

  &[isEditing="true"] {
    padding-bottom: 0;

    div.draggable {
      border-bottom-left-radius: 0;
    }
    div.link-container {
      border-bottom-right-radius: 0;
      div.bottom {
        display: none;
      }
    }
  }
}

div.link-edit-container {
  display: flex;
  justify-content: center;

  form {
    width: 580px;
  }
}

div.new-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
  border-radius: 15px;
  border: 2px dashed $text-secondary ;
  cursor: pointer;

  svg {
    fill: $text-secondary;
    width: 50px;
  }
}